<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{css/test.css}">
</head>
<body>
	<h1>main5.html</h1>
	<h2>경로지정</h2>
	<a th:href="@{https://www.thymeleaf.org}">link</a>
	<br>
	<a th:href="@{main}">main(상대경로)</a>
	<br>
	<a th:href="@{/main}">main(절대경로, /는 컨텍스트명 뒤)</a>
	<br>
	<a th:href="@{main5_1(id='xyz',age=20)}">파라미터 전달</a>
	<br>

	<p>홍길동</p>
	<form th:action="@{main}">
		아이디:<input type="text" name="userid" th:value="'aaa'"><br> 
		아이디:<input type="text" name="userid" th:value="${login.userid}"><br> 
		<input type="submit" value="로그인">
	</form>
	
	<img th:src="@{images/daum.png}" width="100" height="100"/>
	
	<h2>변수 사용(th:with)</h2>
	<div th:with="id=${login.userid}, pw=${login.passwd}">
		아이디:<span th:text="${id}"></span>
		비번:<span th:text="${pw}"></span>
	</div>
</body>
</html>